@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap');
:root{
    --dark-color : rgb(60, 48, 34);
    --main-orange-color : rgb(234, 157, 4);
    --main-orange-dark-color : rgb(126, 86, 5);
}

.btn-primary{
    background: var(--main-orange-color);
    font-size: 16px;
    font-weight: 600;
    padding: 15px 40px;
    color: white;
    border: none;
}

.btn-primary:hover{
    background: var(--main-orange-dark-color);
}

.btn-secondary{
    background: none;
    border: 1px solid rgba(0, 0, 0, 0.108);
    font-size: 16px;
    font-weight: 600;
    padding: 15px 40px;
    color: black;
}

.btn-secondary:hover{
    background: none;
    color: var(--dark-color);
    border: 1px solid black;
}

.hero h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: var(--dark-color);
}

.hero p{
    font-family: 'Poppins', sans-serif;
}

.navbar-nav .navbar-link{
    color: var(--dark-color);
}

@media only screen and (max-width: 992px){
    .btn-secondary, .btn-primary{
        margin-top: 10px;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

